<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script type="text/javascript" src="../js/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="../js/employee.js"></script>
    <title>Employee details</title>
</head>
<body>
<article>
    <h2>Employee details</h2>
    <fieldset>
        <legend>Employee</legend>
        <table>
            <tr id="employee_id"><td>ID: </td></tr>
            <tr id="employee_first_name"><td>First Name: </td></tr>
            <tr id="employee_last_name"><td>Last Name: </td></tr>
            <tr id="employee_age"><td>Age: </td></tr>
            <tr id="employee_gender"><td>Gender: </td></tr>
            <tr id="employee_department"><td>Department: </td></tr>
            <tr id="employee_salary"><td>Salary: </td></tr>
        </table>
    </fieldset>
</article>
<a href="index.html"><button>Back</button></a>
</body>
</html>